* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
nav {
    background: #1F2A33;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo {
    color:#E7825F;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 600;
}
#inp {
    width: 20rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 3px;
}
nav ul {
    float: right;
    z-index: 100;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    list-style-type: none !important;   
    margin: 0 5px;
}
nav ul li a {
    color: #F29522;
    font-size: 17px;
    padding: 30px 23px;
}
nav ul li a:hover {
    background-color: #F29522;
    color: #1F2A33;
    transition: .5s;
    text-decoration: none;
}
.checkbtn {
    font-size: 30px;
    color: #E7825F;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
#check:not(:checked) ~ ul {
    left: 100%
}
@media (max-width: 1021px) {
    nav ul li a {
        display: none;
    }
    .checkbtn {
      display: block;
      }
      #check:checked ~ ul {
          left: 0;
      }
      nav ul li a {
          display: block;
          font-size: 16px;
      }
      ul {
          position: fixed;
          height: 100vh;
          width: 100vw;
          background: #474C50;
          top: 80px;
          left: -100%;
          transition: all .5s;
          text-align: center;
      }
      nav ul li {
          display: block;
          margin: 50px 0;
          line-height: 30px;
      }
      nav ul li a {
          font-size: 20px;
      }
      a.active, a:hover {
          background: none;
      }
      a.active {
          color: #F29522;
      }
  }
  @media (max-width: 858px) {
      .logo {
          font-size: 30px;
          padding-left: 50px;
      }
      nav ul li a {
          display: block;
          font-size: 16px;
      }
      #check:checked ~ ul {
        left: 0;
    }
  }
  @media (max-width: 477px) {
      .logo {
          display: none;
      }
  }